{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

    {% block footer %}

        <script src="/assets/js/hideShowPassword.min.js"></script>
        <script src="/assets/js/app.js"></script>

    {% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <form action="/password/request-reset" method="POST" id="ForgotForm">

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email address" class="form-control"
                   autocomplete="off" autofocus required  />
        </div>

        <button type="submit" class="btn btn-default">Send password reset</button>
    </form>

{% endblock %}
