{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

        <h1>dBII&copy;</h1>

        {% if current_user %}

            Hello {{ current_user.account }}.

            <a href="/account/destroy">Logout</a>

            <br />

            <a href="/profile/show">Profile</a>

        {% else %}

            <a href="/account/new">Sign up</a> or <a href="/account/login">log in</a>.

        {% endif %}

{% endblock %}
