{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block body %}

    <h1>Items</h1>

    <p>Here is the index of items.</p>

    <br>

    <a href="/account/destroy">Log Out</a>

{% endblock %}
