{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <h1>Sign up</h1>

    <p>Success! Your account is now active. You can now <a href="/account/login">log in</a>.</p>

{% endblock %}
