{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

    {% block footer %}

        <script src="/vendor/js/hideShowPassword.min.js"></script>
        <script src="/vendor/js/app.js"></script>

    {% endblock %}

    {% block body %}

        <h1>Change Password</h1>

        {% if user.errors is not empty %}
            <p>Errors:</p>
            <ul>
                {% for error in user.errors %}
                    <li>{{ error }}</li>
                {% endfor %}

            </ul>
        {% endif %}

        <form method="post" action="/change/change_password" id="ChangePasswordForm">

            <div>
                <label for="inputUsername">Username</label>
                <input id="inputUsername" name="account" placeholder="Username" autofocus value="{{ user.account }}" required />
            </div>

            <div>
                <label for="inputEmail">Email address</label>
                <input id="inputEmail" name="email" placeholder="Email Address" value="{{ user.email }}" required />
            </div>

            <div>
                <label for="inputOldPassword">Old Password</label>
                <input type="password" id="inputOldPassword" name="oldPassword" placeholder="Password" required />
            </div>

            <div>
                <label for="inputNewPassword">New Password</label>
                <input type="password" id="inputNewPassword" name="newPassword" placeholder="Password" required />
            </div>

            <button type="submit" id="changePasswordButton">Sign up</button>
            <img src="/vendor/ajax-loader.gif" width="16" height="16" id="progressImage" class="hidden" />

        </form>

    {% endblock %}
