{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

    {% block footer %}

        <script src="/assets/js/hideShowPassword.min.js"></script>
        <script src="/assets/js/app.js"></script>

    {% endblock %}

    {% block body %}

        <h1>Sign up</h1>

        {% if user.errors is not empty %}
            <p>Errors:</p>
            <ul>
                {% for error in user.errors %}
                    <li>{{ error }}</li>
                {% endfor %}

            </ul>
        {% endif %}

        <form action="/account/create" method="POST" id="RegisterForm">

            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" id="inputUsername" name="account" placeholder="Username" class="form-control" autofocus value="{{ user.account }}" required />
            </div>

            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" name="email" placeholder="Email Address" class="form-control" value="{{ user.email }}" required />
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" required />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="newsletter" /> Do you want receive our Newsletters?
                </label>
            </div>

            <button type="submit" class="btn btn-default" id="signupButton">Sign up</button>
            <img src="/assets/img/ajax-loader.gif" width="16" height="16" id="progressImage" class="hidden" />

        </form>

    {% endblock %}

