{% extends "base.html" %}

{% block title %}Log in{% endblock %}

    {% block footer %}

        <!--<script src="/assets/js/hideShowPassword.min.js"></script>-->
        <!--<script src="/assets/js/app.js"></script>-->
        <script src="/assets/js/login.js"></script>

    {% endblock %}

{% block body %}

    <h1>Log in</h1>

    <form action="/account/CreateLogin" method="POST" id="LoginForm">

        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" name="account" placeholder="Username" autofocus value="{{ account }}"
                   class="form-control" autocomplete="off" required />
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" required />
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
            </label>
        </div>

        <button type="submit" class="btn btn-default">Log in</button>
        <a href="/account/forgot">Forgot password?</a>

    </form>

{% endblock %}
