<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <title>{% block title %}{% endblock %}</title>
    </head>

    <style>
        .hidden {
            display: none;
        }
    </style>

    <body>

        <div class="container">

            {% for message in flash_messages %}
            <div class="alert alert-{{ message.type }}">
                {{ message.body }}
            </div>
            {% endfor %}

            {% block body %}
            {% endblock %}

            <script src="/assets/js/libs/jquery-3.3.1.min.js"></script>
            <script src="/assets/js/libs/bootstrap.min.js"></script>
            <script src="/assets/js/libs/jquery.validate.min.js"></script>

            <script>
                console.log('%cdBII', 'font-size: 40px;');
            </script>

            {% block footer %}
            {% endblock %}

        </div>

    </body>
</html>