{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

    {% block footer %}

        <script src="/assets/js/hideShowPassword.min.js"></script>
        <script src="/assets/js/app.js"></script>

    {% endblock %}

{% block body %}

    <h1>Profile</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/profile/update" method="POST" id="ProfileForm" >

        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" name="name" placeholder="Name" value="{{ user.account }}" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock" class="form-control" />
            <span id="helpBlock" class="help-block">Leave blank to keep current password</span>
        </div>

        <button type="submit" class="btn btn-default">Save</button>
        <a href="/profile/show">Cancel</a>

    </form>

{% endblock %}
