{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ user.account }}</dd>
        <dt>email</dt>
        <dd>{{ user.email }}</dd>
    </dl>

    <a href="/profile/edit">Edit</a>

    <br/>

    <a href="/account/destroy">Logout</a>

{% endblock %}
